<div aria-hidden="true" class="modal fade" id="confirmation_modal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmation_title">Xác nhận</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirmation_body"></div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" id="confirm_reject" type="button">Từ
          chối
        </button>
        <butotn class="btn btn-primary" id="confirm_accept" type="button">Đồng ý</butotn>
      </div>
    </div>
  </div>
</div>