<link rel="stylesheet" th:href="@{/css/table/table.css}">
<script th:src="@{/js/table/table.js}"></script>
<div
    th:replace="admin/layout :: layout(~{::.container-fluid}, ~{::link}, ~{::script}, 'Quản lý người dùng')">
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">QUẢN LÝ NGƯỜI DÙNG</h1>
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách công ty</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
            <thead>
            <tr>
              <th>Stt</th>
              <th>Tên</th>
              <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company,status: ${companies}" th:object="${company}">
              <td th:text="${status.index + 1}"></td>
              <td th:text="*{name}"></td>
              <td>
                <a
                    class="cursor-pointer text-danger btn-delete"
                    th:attr="
                                        data-title=|Xác nhận?|
                                        ,data-body=|Bạn có đồng ý muốn xóa công ty: *{name}|
                                        ,data-href=|@{/techJob/admin/user/company/delete/{id}(id = ${company.id})}|
                                    "
                >Xóa</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người tìm việc</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table cellspacing="0" class="table table-bordered" width="100%">
            <thead>
            <tr>
              <th>Stt</th>
              <th>Tên</th>
              <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,status: ${users}" th:object="${user}">
              <td th:text="${status.index + 1}"></td>
              <td th:text="*{name}"></td>
              <td>
                <a
                    class="cursor-pointer text-danger btn-delete"
                    th:attr="
                                        data-title=|Xác nhận?|
                                        ,data-body=|Bạn có đồng ý muốn xóa người tìm việc: *{name}|
                                        ,data-href=|@{/techJob/admin/user/delete/{id}(id = ${user.id})}|
                                    "
                >Xóa</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>